<div class="col-x-12">

  <h1>This is the Auth Test App </h1>

  <% if user_signed_in? %>

  <div class="well">
    <%= current_user.inspect %>
  </div>

  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <% else %>

  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-md btn-default' %>

  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-md btn-warning' %>

  <% end %>

</div>
